html,
body {
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  height: 100vh;
}

footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a,
a:hover,
a:focus,
a:visited {
  color: #000;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

.mainCont {
  justify-content: center;
  height: 100vh;
  width: 70vw;
  display: block;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

mainHeader {
  width: 100vh;
}
.container {
  margin: 0;
  width: 100%;
  padding: 100px 0;
  align-self: center;
}

.textCentered {
  text-align: center;
}

.title {
  color: #000;
  font-weight: 300;
  font-size: 2.5em;
  margin: 0;
}
